---
layout: layout_base.njk
title: Ella M. Lee
---
<div class="min-h-screen bg-gray-50 p-8 flex flex-col justify-center relative overflow-hidden items-center">
    <div class="flex-row">
        {% image "./assets/images/logo.png", "Ella M. Lee", "300px" %}
    </div>
    <div class="mt-8 mx-auto">
        <p class="text-5xl space-x-4">
            <a href="https://www.facebook.com/ellamleewrites">
                <i class="lni lni-facebook-original"></i>
            </a>
            <a href="https://www.amazon.com/author/ellamlee">
                <i class="lni lni-amazon-original"></i>
            </a>
            <a href="https://www.instagram.com/ella_m_lee">
                <i class="lni lni-instagram-original"></i>
            </a>
            <a href="https://www.goodreads.com/ellamleewrites"
                <i class="lni lni-goodreads"></i>
            </a>
            <a href="mailto:inquiries@ellamlee.com?subject=Inquiry%20from%20Website">
                <i class="lni lni-envelope"></i>
            </a>
        </p>
    </div>
    <div class="prose grid grid-flow-row grid-rows-2 grid-cols-3 gap-8 mt-8">
        <div>
            <a href="https://www.amazon.com/dp/B0876D2KL3?tag=&linkCode=osi&th=1&psc=1">
            {% image "./assets/images/fire-within-cover.jpg", "Fire Within cover", "(max-width: 200px)" %}
            </a>
        </div>
        <div>
            <a href="https://www.amazon.com/dp/B0876D8N14?tag=&linkCode=osi&th=1&psc=1">
            {% image "./assets/images/ignited-cover.jpg", "Ignited cover", "(width: 100%)" %}
            </a>
        </div>
        <div>
            <a href="https://www.amazon.com/dp/B08777QN2N?tag=&linkCode=osi&th=1&psc=1">
            {% image "./assets/images/ashes-cover.jpg", "Ashes cover", "width: 100%" %}
            </a>
        </div>
        <div>
            <a href="https://www.amazon.com/dp/B08XWLYYMG?tag=&linkCode=osi&th=1&psc=1">
            {% image "./assets/images/spark-cover.jpg", "Spark cover", "width: 100%" %}
            </a>
        </div>
        <div>
            <a href="https://www.amazon.com/dp/B09HYS8LTH?tag=&linkCode=ogi&th=1&psc=1">
            {% image "./assets/images/storm-cover.jpg", "Storm cover", "width: 100%" %}
            </a>
        </div>
        <div>
            <a href="https://www.amazon.com/dp/B09VDMQSZW?tag=&linkCode=ogi&th=1&psc=1">
            {% image "./assets/images/dark-blaze-cover.jpg", "Dark Blaze cover", "width: 100%" %}
            </a>
        </div>
    </div>
    <hr>
    <div class="mt-8 prose prose-slate mx-auto lg:prose-lg">
        <h2>About Ella</h2>
        <p>Ella M. Lee is a graduate of Bennington College who spent years in the tech industry before getting back to her story-crafting roots. In her spare time, she likes to travel, cook, drink tea, and spend Saturday mornings repeating moves, spins, and jumps over and over again for her figure skating coach. She has a loving husband and two semi-loving cats who share her home near Boston, MA.
        </p>
    </div>
</div>
